/*!
 * Start Bootstrap - Grayscale Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* GENERAL STUFF & TYPOGRAPHY */
body {
  background-color: #45022e;
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: 45px;
}

h2 span {
  font-weight: 400;
}

a {
  color: #f3343c;
}

.btn-default {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
}

.btn-default:hover,
.btn-default:focus {
  background-color: #fff;
  color: #45022e;
  border: 1px solid #fff;
}

.col-sm-4 img {
  width: 100%;
  height: auto;
}

/* NAVIGATION */
.navbar {
  min-height: 65px;
}

.navbar a {
  text-shadow: 0 0 2px rgba(0,0,0,0.9);
}

.navbar-brand {
  height: inherit;
  padding: 0;
}

/* INTRO */
.intro .intro-body {
  vertical-align: bottom;
}

.intro .intro-body .brand-heading {
  font-size: 38px;
  margin-bottom: .75em;
  margin-top: .75em;
  text-shadow: 0 0 2px rgba(0,0,0,1);
  font-weight: 600;
}

.intro .intro-body img {
  width: 100%;
  height: auto;
  max-width: 884px;
}

.intro .intro-body .intro-text {
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 5px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
}

.intro .btn-circle {
  margin-top: 10px;
  margin-bottom: 25px;
}

/* SECTIONS */
.content-section {
  padding-bottom: 150px;
  padding-top: 150px;
}

.content-section + #map {
  margin-top: 0;
}

/* ticket section */
#ticket {
  padding: 90px 0;
}

#ticket .btn {
  padding: 15px 30px;
  font-size: 40px;
  line-height: 1.5;
}

#ticket .btn img {
  margin-left: 15px;
  margin-top: -7px;
}

#ticket .btn:hover .iggwhite {
  display: none;
}

#ticket .btn:hover .igghover{
  display: inline-block;
}

#ticket .btn .igghover {
  display: none;
}

/* program section */
#program {
  background-color: #fff5e9;
  color: #333;
}

#program table tr {
  margin: 10px 0;
}

#program table td {
  padding: 0 0 10px;
  text-transform: uppercase;
}

#program table td:first-child {
  font-weight: 100;
  padding-right: 15px;
}

/* partner section */
#partners {
  background-color: #fff5e9;
  color: #333;
}

/* FOOTER */
footer {
  background-color: #222;
  padding: 25px 0;
}

footer p {
  text-transform: uppercase;
  font-size: 12px;
}

@media (min-width: 767px) and (max-width: 991px) {

  h2 {
    font-size: 25px;
  }

  #program table td:first-child {
    padding-right: 8px;
  }

}

@media (max-width: 766px) {

  h2 {
    margin-bottom: 15px;
  }

  #program {
    text-align: center;
  }

  #program table {
    margin: 0 auto;
  }

  #program .col-sm-4 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  #ticket .btn {
    padding: 15px 30px;
    font-size: 20px;
    line-height: 1.5;
  }

  #ticket .btn img {
    width: 85px;
    display: block;
    margin: 12px auto 0;
  }

  #ticket .btn:hover .igghover {
    display: block;
  }
}

@media(min-width:767px) {
  .top-nav-collapse {
    background-color: #c0183c;
  }

  .top-nav-collapse a{
    text-shadow: none;
  }

  .navbar-brand {
    padding: 8px 0 7px 0;
  }

  .navbar-nav > li > a {
    padding-top: 25px;
    padding-bottom: 20px;
  }
}